body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #1e1e1e, #333);
    animation: bgAnimation 15s infinite;
    position: relative;
}

header .intro {
    animation: fadeIn 2s;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #00aced;
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #00aced;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 25px;
}

.btn:hover {
    background-color: #0084b4;
    transform: scale(1.1);
}

section {
    padding: 60px 20px;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project {
    background-color: #1e1e1e;
    padding: 20px;
    border: 2px solid transparent;
    width: 300px;
    text-align: center;
    animation: borderAnimation 5s infinite;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
}

.social-links .icon img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-links .icon img:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bgAnimation {
    0% { background-color: #1e1e1e; }
    33% { background-color: #333; }
    66% { background-color: #1e1e1e; }
    100% { background-color: #333; }
}

@keyframes borderAnimation {
    0% { border-color: #ff0000; }
    33% { border-color: #00ff00; }
    66% { border-color: #0000ff; }
    100% { border-color: #ff0000; }
}
