html{
    width:max-content;
    height: 100%;
}

@media screen and (max-width:100%){
    .affect{
    
    }
}
.div2{
    font-size: 25px;
    max-width: 800%;
}
.span1{
    color: lawngreen;
}
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
    max-width: auto;
    
}
.nav{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.shawn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color:limegreen;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.nav:hover{
    background-color:crimson;
}
.nav:after{
    color: lawngreen;
}
.card .box{
    transition: all 0.3s ease;
}
.box:hover .card{
    transform: scale(1.05);
}
.box i{
    font-size: 100px;
    color: crimson;
    transition: color 0.3s ease;
}
.box:hover i{
    color: antiquewhite;
}
ul{
    list-style-type: none;
    margin: 0px;
    /* float: right; */
    padding: 20px 24px;
    /* width: 500px; */
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-around;
    font-size: 25px;
    color:crimson;

}
section{
    padding-top: 400px;
}
#div2{
    padding-left: 15px;
    position: fixed;
    /* background-color:gray; */
    width: 50px;
    height:50px;
    transition: 0.4s;
     left: -200px; 
}
#div2.active{
    left: 0;
}
#div2 .togglebar{
    position: absolute;
    top: 30px;
    left: 230px;
}
.togglebar span{
    width: 45px;
    height: 4px;
    background-color: lawngreen;
    display: block;
    margin-top: 4px;
}
.Section1{
    font-size: 45px;
    background-color:white;
}
.span1{
    color: lawngreen;
}
.wave{
    color: lawngreen;
}
.hireme{
    color: black;
    background-color: lawngreen;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
.center{
    text-align: center;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.nav{
    color: crimson;
    background-color: gray;
    height: 300px;
    width: 300px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid tomato;
}
.special{
    color: white;
    font-size: 25px;
    font-weight: 400;
}
li a:hover{
    color:crimson;
}
li a:active{
    color:lawngreen;
}
li:after{
    color: crimson;
}
.provide{
    font-size: 15px;
}
.all{
    background-color:white;
    padding-top: 20px;
    padding-bottom: 225px;
}
.affect{
    font-size: 25px;
    text-align: center;
}
.img{
    width: 600px;
    height: 500px;
    border-radius: 10px;
    padding-left: 200px;
}
.Gen{
font-size: 25px;
}
.sec{
    height: 550px;
    width: 600px;

}
.calm{
    background-color:lawngreen ;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}
.rest{
    text-align: center;
}
.down{
    font-size: 25px;
}
.see{
    font-size: 20px;
    padding-left: 50px;
    text-align:left;
}
form{
    width: 50px;
}
input{
    width: 500px;
    height: 50px;
    border-radius: 10px 10px;
    font-size: 25px;
    border: 1px solid grey;
}
textarea{
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 25px;
}
button{
    background-color: lawngreen;
    padding: 10px 30px 10px 30px;
    font-size: 30px;
    border-radius:5px ;
}
body{
    width: 100%;
    height: auto;
}
.article{
    width: 90%;
}
.align{
     text-align: left;
     margin-left: 10px;
}